.for_slick_slider{
    display: flex;
    width: 50%;
    padding: 2em 0;
    align-items: center;
}



.for_slick_slider .items {
    margin: 40px;
}

#landscape{
    width: 70%;
}

.items img{
    width: 100%;
}

.slick-current{
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
    margin: 0 2em;
}